@charset "UTF-8";
@font-face{font-family:blogCommonIconFont;src:url(https://ssl.pstatic.net/static/blog/font/blogCommonIconFont6.eot);src:url(https://ssl.pstatic.net/static/blog/font/blogCommonIconFont6.eot?#iefix) format("eot"),url(https://ssl.pstatic.net/static/blog/font/blogCommonIconFont6.woff2) format("woff2"),url(https://ssl.pstatic.net/static/blog/font/blogCommonIconFont6.woff) format("woff"),url(https://ssl.pstatic.net/static/blog/font/blogCommonIconFont6.ttf) format("truetype")}
.blogicon_bt-x-heart:before,.blogicon_btn-top:before,.blogicon_btn-x-13-x-13:before,.blogicon_ico-3-dot:before,.blogicon_ico-arrow-4-x-6:before,.blogicon_ico-arrow-down-3-x-6:before,.blogicon_ico-arrow-down-5-x-10:before,.blogicon_ico-arrow-down-9-x-5:before,.blogicon_ico-arrow-left-6-x-10:before,.blogicon_ico-arrow-right-6-x-10:before,.blogicon_ico-arrow-up-3-x-6:before,.blogicon_ico-arrow-up-5-x-10:before,.blogicon_ico-arrow-up-9-x-5:before,.blogicon_ico-ccl-1:before,.blogicon_ico-ccl-2:before,.blogicon_ico-ccl-3:before,.blogicon_ico-ccl-4:before,.blogicon_ico-comment-new:before,.blogicon_ico-comment-normal:before,.blogicon_ico-comment:before,.blogicon_ico-graph:before,.blogicon_ico-like-active:before,.blogicon_ico-like-normal:before,.blogicon_ico-list-check-on:before,.blogicon_ico-list-check:before,.blogicon_ico-plus-7-x-7:before,.blogicon_ico_double_heart:before,.blogicon_ico_double_heart_on:before,.post_adpost .area_title .btn_guide .arr:before{font-family:blogCommonIconFont;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;text-transform:none}
.blogicon_bt-x-heart:before{content:"\E001"}
.blogicon_btn-top:before{content:"\E002"}
.blogicon_btn-x-13-x-13:before{content:"\E003"}
.blogicon_ico-3-dot:before{content:"\E004"}
.blogicon_ico-arrow-4-x-6:before{content:"\E005"}
.blogicon_ico-arrow-down-3-x-6:before{content:"\E006"}
.blogicon_ico-arrow-down-5-x-10:before{content:"\E007"}
.blogicon_ico-arrow-down-9-x-5:before{content:"\E008"}
.blogicon_ico-arrow-left-6-x-10:before{content:"\E009"}
.blogicon_ico-arrow-right-6-x-10:before{content:"\E00A"}
.blogicon_ico-arrow-up-3-x-6:before{content:"\E00B"}
.blogicon_ico-arrow-up-5-x-10:before{content:"\E00C"}
.blogicon_ico-arrow-up-9-x-5:before{content:"\E00D"}
.blogicon_ico-ccl-1:before{content:"\E00E"}
.blogicon_ico-ccl-2:before{content:"\E00F"}
.blogicon_ico-ccl-3:before{content:"\E010"}
.blogicon_ico-ccl-4:before{content:"\E011"}
.blogicon_ico-comment-new:before{content:"\E012"}
.blogicon_ico-comment-normal:before{content:"\E013"}
.blogicon_ico-comment:before{content:"\E014"}
.blogicon_ico-graph:before{content:"\E015"}
.blogicon_ico-like-active:before{content:"\E016"}
.blogicon_ico-like-normal:before{content:"\E017"}
.blogicon_ico-list-check-on:before{content:"\E018"}
.blogicon_ico-list-check:before{content:"\E019"}
.blogicon_ico-plus-7-x-7:before{content:"\E01A"}
.blogicon_ico_double_heart:before{content:"\E01B"}
.blogicon_ico_double_heart_on:before{content:"\E01C"}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,figure,figurecaption{margin:0;padding:0}
body,input,textarea,select,button,table,h1,h2,h3,h4,h5,h6{font-size:14px;line-height:20px;font-family:Sans-Serif}
section,nav,article,aside,hgroup,header,footer{display:block}
body{color:#000;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,.1)}
table{border-collapse:collapse}
hr,legend{display:none}
button{border:0;background:0 0;cursor:pointer}
input{-webkit-appearance:none}
.post_adpost{position:relative;width:auto;padding:15px 50px;font-family:"나눔고딕",NanumGothic,NanumGothicWebFont,"Malgun Gothic","맑은 고딕",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif;font-size:12px;line-height:20px;}
.post_adpost::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid currentColor;opacity: 0.15;}
.post_adpost .pcol1{font-size:13px}
.post_adpost .power_list{padding-top:5px}
.post_adpost .summary{padding-top:4px}
.post_adpost .area_title{position:relative;height:45px}
.post_adpost .area_title .title{display:block;padding:18px 0 0;font-size:13px;font-weight:400}
.post_adpost .area_title .btn_guide{position:absolute;right:-2px;top:17px}
.post_adpost .area_title .btn_guide .arr{display:inline-block;font-size:12px;-ms-transform:scale(.5,.5);-webkit-transform:scale(.5,.5);transform:scale(.5,.5);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:.5;vertical-align:top}
.post_adpost .area_title .btn_guide .arr:before{content:"\E005"}
.post_adpost .area_title .cline{position:absolute;left:0;right:0;bottom:1px;border-style:solid;border-width:0 0 1px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";filter:alpha(opacity=8);opacity:.08}
.post_adpost .nodata{width:100%;padding:40px 0 27px 0;font-size:12px;text-align:center;line-height:15px}
.post_adpost .nodata .txt{width:100%;opacity:.7}
.post_adpost .no_result{padding:40px 0;text-align:center;font-size:13px;line-height:20px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:.5}

/* 개선 작업 */
.pcol2 {
	color: #222; /*내용색, 기본색*/
}
.pcol3 {
	color: #3867e8; /*강조색*/
}
.cline {
	 border-bottom-color: #222;  /*기본색을 border-bottom으로 사용*/
}
.post_adpost .power_list {
	position: relative;
	z-index: 10;
	padding: 1px 0 20px;
}
.post_adpost .power_item {
	padding-top: 16px;
}
.post_adpost .power_list .title_area {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	line-height: 20px;
	vertical-align: bottom;
}
.power_list .title_area .link_area {
	overflow: hidden;
}
.power_list .title_area .icon_area {
	float: right;
	margin-left: 6px;
}
.power_list .title_area img {
	vertical-align: -2px;
}
.power_list .title_area img ~ img {
	margin-left: 2px;
}
.power_list .power_title {
	float: left;
	margin-right: 13px;
	font-size: 13px;
	text-decoration: underline;
}
.power_list .power_url {
	display: block;
	overflow: hidden;
	font-size: 11px;
	line-height: 21px;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.power_list .menu_list {
	overflow: hidden;
}
.power_list .menu_item {
	float: left;
}
.power_list .menu_item ~ .menu_item::before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 0 6px;
	vertical-align: 2px;
	background-color: #d8d8d8;
}
.power_list .summary .point {
	margin-right: 5px;
	font-weight: 700;
}
.power_list .price_list {
	width: 350px;
	margin-top: 4px;
}
.power_list .price_item {
	display: block;
	overflow: hidden;
}
.price_list .price {
	float: right;
	padding-left: 11px;
}
.price_list .name {
	overflow: hidden;
}
.price_list .border {
	display: block;
	overflow: hidden;
	margin-top: 10px;
	opacity: 0.25;
	border-top: 1px dashed currentColor;

}
.price_list .text {
	overflow: hidden;
	float: left;
	max-width: 100%;
	padding-right: 11px;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}
.power_list .thumb {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 14px;
	padding: 2px 0 3px;
}
.power_list .thumb img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.power_item .description {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 썸네일 타입 */
.power_item.img_type::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.power_item.img_type .content {
	overflow: hidden;
}
.power_item.img_type .description:first-child {
	display: -webkit-box;
	width: 303px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	white-space: normal;
}
/* 가격표 타입 */
.power_item.price_type.img_type .description {
	display: block;
	width: auto;
	white-space: nowrap;
}
